body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(230, 186, 129);
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

.calculator-container {
    border: 5px solid black;
    background: black;
}

button {
    font-size: 37px;
    height: 140px;
    width: 140px;
    margin: 2px;
    border: none;
}

input[type='radio'] {
    margin: 20px;
    margin-left: 50px;
    transform: scale(2);
}

.selectors {
    background-color: rgb(160, 226, 121);
    margin: 2px;
    display: flex;
    align-items: center;
    font-size: 40px;
    height: 70px;
}

.operation-display {
    height: 24px;
    width: 1140px;
    font-size: 24px;
    text-align: right;
    background: lightgray;
    padding: 5px;
}

.number-display {
    height: 60px;
    width: 1140px;
    font-size: 60px;
    text-align: right;
    background: lightgray;
    padding: 5px;
    margin-bottom: 5px;
}

.row {
    display: flex;
}

.clear, .delete, .negative, .percent {
    background: rgb(253, 100, 100);
}

.number {
    background: rgb(221, 170, 75);
}

.operator {
    background: rgb(82, 82, 250);
}

.sci {
    background: rgb(247, 250, 82);
}